html {
  background: url(/images/background.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
	width:50%;
	margin:auto;
  background-color: transparent;
}

h1, h2 {
  color:white; 
}
.header {
  margin-top: 40px;
  margin-bottom: 20px;
}

.logo {
  width:80px;
}

.logo img {
  width:80px;
}

#mandala {
  width:100%;
}

#mandale {
  transition: all .4s ease-out;
}
#mandala:hover
{
  -webkit-transform:rotate(7deg) scale(1.2);
  -ms-transform: rotate(7deg) scale(1.2);
  transform: rotate(7deg) scale(1.2);
  
  background:url('/images/playButton.png') center no-repeat
}
    

#timer {
  width:21px;
}

#stopper {
  width:30px;
}

#clockSelectModal .modal-dialog {
    width: 190px; 
}