<template name="clock">
    <div class="row">
      <div class="col-xs-9 col-xs-offset-1">
        <div class="mandala-container">
          <a href="#"><img id="mandala" src="/images/mandala.png"></a>
          <div class="mask"></div>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <img id="stopper" src="/images/left-clock.png">
        </div>
        <div class="col-xs-6">
            <img id="timer" src="/images/right-clock.png">
        </div>
    </div>
    <div class="row">
    
  <input id="clock">
  {{#if isClockRunning}}
  <menu>
    <button class="stop"></button>
    <button class="playpause pause"></button>
  </menu>
  {{/if}}
  {{ >clockSelectModal}}
  
  </div>
</template>