<template name="sessionInfo">
  {{#if currentUser}}
    {{#with session}}
    <div class="col-xs-6">
      <div class="row">
        <div class="col-xs-4">
        <p>
          Streak:
        </p>
        </div>
        <div class="col-xs-4">
        <p>
          # Meditation:
        </p>
        </div>
        <div class="col-xs-4">
        <p>
          # Sessions:
        </p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4">
          {{daysStreak}}
        </div>
        <div class="col-xs-4">
          {{meditationTimeInMin}}
        </div>
        <div class="col-xs-4">
          {{numOfSessions}}
        </div>
      </div>
    </div>
    {{/with}}
    <div class="row">
      {{> loginButtons}}
    </div>
  {{else}}
    <div><h2>To really meditate Please {{> loginButtons}} </h2></div>
  {{/if}}
</template>